/*
 * Project 2
 * ScatterPlot component CSS source code
 *
 * Author: Shreya Ashok Kumar
 * Version: 1.0
 * 
 * Specifying all styling for all svg elements by their ids
 */

 svg {
    font-family: Arial;
    text-anchor: middle;
}

#title {
    font-size: 3pt;
    fill: black;
}

#labels, #values {
    font-size: 1pt;
    fill: grey;
}

#otherTitles {
    font-size: 1.5pt;
    fill: grey;
}

#lines {
    stroke: silver;
    stroke-width: 0.1pt;
}

#circles {
    fill: dodgerblue;
}